.li {
    border-radius: 70px;
    background-color: silver;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    float: left;
    list-style: none;
}

.error, .errorTwo {
    color: red;
}